@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC';
  font-style: normal;
  font-weight: normal;
}

body {
  background: radial-gradient(rgb(8 45 95), rgb(17 24 39));
}

@keyframes gradient {
  0% {
    background-position: 2% 50%;
  }
  50% {
    background-position: 98% 50%;
  }
  100% {
    background-position: 2% 50%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #718096;
}

::-webkit-scrollbar-track {
  background-color: #CBD5E0;
}
