@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC';
  font-style: normal;
  font-weight: normal;
}

body {
  background: linear-gradient(-45deg, rgb(15 40 60), rgb(15 35 65), rgb(15 30 70));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 2% 50%;
  }
  50% {
    background-position: 98% 50%;
  }
  100% {
    background-position: 2% 50%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #718096;
}

::-webkit-scrollbar-track {
  background-color: #CBD5E0;
}
